.vnav-input {
    background: url("/Static/Content/Images/search.png") no-repeat scroll 0 0 white;
    border: 1px solid #AAAAAA;
    height: 24px;
    overflow: hidden;
    padding: 0 0 0 25px;
    width: 100%;
}

#vnav-container {
    border: 1px solid rgb(226, 226, 226);
    padding-bottom: 10px;
}

#vnav-container .search-wrapper {
    background-color: #F0F3F5;
    padding: 6px 7px;
}

#vnav-container ul li {
    background-color: #fff;
    padding: 3px 3px 3px 6px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #ddd;
}

#vnav-container ul li a {
}

.vnav-link {
    padding: 6px 16px 6px 0 !important ;
    display: block;
}

#vnav-container ul {

}

#vnav-container ul li a {
    color: #396497 !important;
}


